@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using ODY.Cihazkapinda.Localization
@model ODY.Cihazkapinda.Web.Pages.Admin.BannerSettings.CreateModalModel
@inject IHtmlLocalizer<CihazkapindaResource> L
@{
    Layout = null;
}
<script>
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        (this).nextElementSibling.innerHTML = fileName;
    });
</script>
<form asp-page="/Admin/BannerSettings/CreateModal" enctype="multipart/form-data">
    <abp-modal size="Default">
        <abp-modal-header title="@L["BannerSetting"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="bannerSettingCreateModal.TenantId" />
            <abp-input asp-for="bannerSettingCreateModal.Title" />
            <div class="row">
                <div class="col-6" style="padding-top:10px;">
                    <h5>İçerikler</h5>
                </div>
                <div class="col-6" style="text-align:end;">
                    <input type="button" id="addContent" class="btn btn-success" value="Ekle" />
                </div>
            </div>
            <div class="form-group" id="addContentWrapper" style="margin:0 10px 0 10px;">
                <div class="row border border-color-hover-light" style="margin-top:10px; padding-bottom:10px; padding-top:10px;">
                    <div class="col-12">
                        <label name="files">@L["ChooseFile"]</label>
                        <input required type="file" name="files" class="custom-file-input">
                        <label class="custom-file-label" style="margin:25px 10px 5px 10px;">@L["ChooseFile"]</label>
                    </div>
                    <div class="col-6" style="padding-top:5px;">
                        <abp-input asp-for="titles" />
                    </div>
                    <div class="col-6" style="padding-top:5px;">
                        <abp-input asp-for="contents" />
                    </div>
                </div>
            </div>
            <br />
            <abp-input asp-for="bannerSettingCreateModal.Active" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<div id="form-element-wrapper" style="display:none;">
    <div class="row border border-color-hover-light" id="form-element" style="margin-top:10px; padding-bottom:10px; padding-top:10px;">
        <div class="col-12">
            <label name="files">@L["ChooseFile"]</label>
            <input required type="file" name="files" class="custom-file-input">
            <label class="custom-file-label" style="margin:25px 10px 5px 10px;">@L["ChooseFile"]</label>
        </div>
        <div class="col-6" style="padding-top:5px;">
            <label name="titles">@L["Title"]</label>
            <input required name="titles" class="form-control" />
            <span asp-validation-for="titles" class="text-danger"></span>
        </div>
        <div class="col-6" style="padding-top:5px;">
            <label name="contents">@L["Content"]</label>
            <input required name="contents" class="form-control" />
            <span asp-validation-for="contents" class="text-danger"></span>
        </div>
    </div>
</div>
<script>
    var proTheme = "@Model.proTheme";
    $("#addContent").click(function () {
        if (proTheme === "True") {
            var clone = $('#form-element-wrapper').clone('#form-element');
            clone[0].style = "display:block;"
            $('#addContentWrapper').append(clone);
        }
        else {
            abp.message.warn("Birden fazla resim eklemek için 'PRO' temaya sahip olmalısınız.");
        }
    });
</script>