@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ODY.Cihazkapinda.Localization
@using Volo.Abp.Users
@model ODY.Cihazkapinda.Web.Pages.IndexModel
@inject IHtmlLocalizer<CihazkapindaResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
@{ var layout = Model.theme;
    Layout = "~/" + layout;
    ViewBag.Title = Model.setting.Title;
    }
<style>
    .mylink:hover {
        color: #e60000 !important;
    }

    #header .header-nav-main.header-nav-main-dropdown-arrow nav > ul > li.dropdown > .dropdown-item:before {
        border-bottom: 7px solid #e60000 !important;
    }

    #header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
        color: #e60000 !important;
    }

    .product-thumb-info .product-thumb-info-content {
        padding: 0px !important;
        padding-bottom: 15px !important;
    }

    .card-body {
        padding: 15px !important;
    }
</style>
<div class="body">
    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 135, 'stickySetTop': '-135px', 'stickyChangeLogo': true}">
        <div class="header-body border-color-primary border-bottom-0 box-shadow-none" style="border-top:none !important; position:fixed !important;" data-sticky-header-style="{'minResolution': 0}" data-sticky-header-style-active="{'background-color': '#f7f7f7'}" data-sticky-header-style-deactive="{'background-color': '#FFF'}">
            <div class="header-container container">
                <div class="header-row py-2">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="index.html" style="color:rgb(230, 0, 0) !important;">
                                    <svg style="height: 13em;width: 9em;stroke: currentColor;stroke-width: 7px;max-height: 50px" width="47" height="47" viewBox="0 0 312 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M155.91 311.82c86.107 0 155.91-69.803 155.91-155.91S242.017 0 155.91 0 0 69.803 0 155.91s69.803 155.91 155.91 155.91z" fill="#E60000" />
                                            <path d="M157.134 242.307c-42.57.14-86.87-36.19-87.06-94.54-.12-38.59 20.69-75.77 47.3-97.77 26-21.49 61.51-35.28 93.76-35.39 4.15 0 8.49.33 11.15 1.23-28.2 5.85-50.64 32.09-50.54 61.86-.003.843.061 1.686.19 2.52 47.18 11.49 68.6 40 68.73 79.35.13 39.35-30.97 82.56-83.53 82.74z" fill="#fff" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <path fill="#fff" d="M0 0h311.81v311.81H0z" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                            <span style="font-size:18px; font-weight:bold;">
                                @Model.setting.Title
                            </span>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <ul class="header-extra-info d-flex align-items-center mr-3">
                                <li class="d-none d-sm-inline-flex">
                                    <div class="header-extra-info-text">
                                        <label>Mail Adresimiz</label>
                                        <strong><a href="mailto:@(Model.setting.Email)" class="text-uppercase">@Model.setting.Email</a></strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-extra-info-text">
                                        <label>Telefon Numaramız</label>
                                        <strong><a href="tel:@Model.setting.Email">@Model.setting.Phone</a></strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-color-light-scale-1" style="border-bottom:1px solid #979797;border-top:1px solid #979797;">
                <div class="container">
                    <div class="header-nav-bar bg-color-light-scale-1">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-row justify-content-end">
                                    <div class="header-nav header-nav-links justify-content-center" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'margin-top': '35px'}" data-sticky-header-style-deactive="{'margin-top': '0'}">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-arrow header-nav-main-effect-3 header-nav-main-sub-effect-1">
                                            <nav class="collapse">
                                                <ul class="nav nav-pills" id="mainNav">
                                                    <li class="dropdown">
                                                        <a style="cursor:pointer;" class="dropdown-item dropdown-toggle mylink active">
                                                            <input type="hidden" value="0" />
                                                            <img src="~/frontend/img/phone-big.png" style="margin-right:10px;" />
                                                            Telefonlar
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a style="cursor:pointer;" class="dropdown-item dropdown-toggle mylink">
                                                            <input type="hidden" value="1" />
                                                            <img src="~/frontend/img/tablet-big.png" style="margin-right:10px;" />
                                                            Tabletler & Bilgisayarlar
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a style="cursor:pointer;" class="dropdown-item dropdown-toggle mylink">
                                                            <input type="hidden" value="2" />
                                                            <img src="~/frontend/img/accessories-big.png" style="margin-right:10px;" />
                                                            Aksesuarlar
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a style="cursor:pointer;" class="dropdown-item dropdown-toggle mylink">
                                                            <input type="hidden" value="3" />
                                                            <img src="~/frontend/img/IoT-big.png" style="margin-right:10px;" />
                                                            Akıllı Ev Ürünleri
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a style="cursor:pointer;" class="dropdown-item dropdown-toggle mylink">
                                                            <input type="hidden" value="4" />
                                                            <img src="~/frontend/img/IoT-big.png" style="margin-right:10px;" />
                                                            Dijital Servisler
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle mylink" href="#">
                                                            <img src="~/frontend/img/footer1.png" style="margin-right:10px;" />
                                                            Tarifeler
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main shop py-4">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar">
                        <div class="input-group mb-3 pb-1">
                            <input class="form-control text-1" placeholder="Ara..." name="s" id="s" type="text">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="font-weight-bold p-2">Filtrele</h5>
                            </div>
                            <div class="col-6">
                                <span class="input-group-append" style="float:right;">
                                    <button type="button" style="background-color:#e60000; color:white;" class="btn text-1 p-2 filterReset">Filtre Temizle</button>
                                </span>
                            </div>
                        </div>
                        <div id="accordion">
                            <div class="card mb-1 shadow-none">
                                <div class="card-header" id="headingOne">
                                    <h6 class="m-0">
                                        <a href="#categoryFilter" class="text-dark" data-toggle="collapse"
                                           aria-expanded="true"
                                           aria-controls="collapseOne">
                                            Kategori
                                        </a>
                                    </h6>
                                </div>

                                <div id="categoryFilter" class="collapse show"
                                     aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body" id="categories">

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1 shadow-none">
                                <div class="card-header" id="headingTwo">
                                    <h6 class="m-0">
                                        <a href="#installmentFilter" class="text-dark collapsed" data-toggle="collapse"
                                           aria-expanded="false"
                                           aria-controls="collapseTwo">
                                            Taksit Sayısı
                                        </a>
                                    </h6>
                                </div>
                                <div id="installmentFilter" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="3" class="btn btn-link text-dark installmentSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    3
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="6" class="btn btn-link text-dark installmentSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    6
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="12" class="btn btn-link text-dark installmentSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    12
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-0 shadow-none">
                                <div class="card-header" id="headingThree">
                                    <h6 class="m-0">
                                        <a href="#totalPrice" class="text-dark collapsed" data-toggle="collapse"
                                           aria-expanded="false"
                                           aria-controls="collapseThree">
                                            Toplam Fiyat
                                        </a>
                                    </h6>
                                </div>
                                <div id="totalPrice" class="collapse"
                                     aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="0" class="btn btn-link text-dark priceSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    0-2999
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="1" class="btn btn-link text-dark priceSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    3000-4999
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="2" class="btn btn-link text-dark priceSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    5000-7499
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="3" class="btn btn-link text-dark priceSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    7500-9999
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="4" class="btn btn-link text-dark priceSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    10000+
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-0 shadow-none">
                                <div class="card-header" id="headingThree">
                                    <h6 class="m-0">
                                        <a href="#productColor" class="text-dark collapsed" data-toggle="collapse"
                                           aria-expanded="false"
                                           aria-controls="collapseThree">
                                            Renk
                                        </a>
                                    </h6>
                                </div>
                                <div id="productColor" class="collapse"
                                     aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="0" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:0"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="1" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:1"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="2" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:2"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="3" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:3"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="4" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:4"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="5" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:5"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="6" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:6"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="7" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:7"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="8" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:8"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="9" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:9"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="10" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:10"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="11" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:11"]
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button value="12" class="btn btn-link text-dark productColorSelect">
                                                    <i class="fa fa-arrow-right"></i>
                                                    @L["Enum:ProductColorType:12"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<h5 class="font-weight-bold pt-5">Etiketler</h5>
                        <div class="mb-3 pb-1">
                            <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">Nike</span></a>
                        </div>*@
                    </aside>
                </div>
                <div class="col-lg-9">
                    <div>
                        <div id="productWrapper" class="row products product-thumb-info-list">

                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="pagination float-right">
                                    <li class="page-item prev-page"><a style="cursor:pointer;" class="page-link"><i class="fas fa-angle-left"></i></a></li>
                                    <li class="page-item next-page"><a style="cursor:pointer;" class="page-link"><i class="fas fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <partial name="~/Views/_SharedFront/_chat.cshtml" />
    <footer id="footer">
        <div class="footer-copyright">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center">
                        <p class="text-white"><strong>Cihazkapinda</strong> - © Copyright 2021. Tüm hakları saklıdır.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div id="productElement" style="display:none;" class="col-sm-6 col-lg-4 product">
    <span id="element" class="product-thumb-info border-0" style="box-shadow:0 2px 8px 0 rgb(0 0 0 / 16%); background-color:white; border-radius:5px;">
        <a href="#">
            <span class="product-thumb-info-image">
                <img alt="" class="product-image" style="object-fit:contain;" width="209" height="400" src="~/frontend/img/products/product-grey-2.jpg">
            </span>
        </a>
        <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
            <a href="#">
                <h4 class="text-4 text-dark text-center product-title mb-4">Golf Bag</h4>
                <span class="price text-center">
                    <del class="product-discount-amount-visible"><span class="amount product-discount-amount">$325</span></del>
                    <span class="amount font-weight-semibold product-amount text-4" style="color:#e60000;">$72 </span><span class="installment ml-1 text-dark">x3 Ay</span>
                </span>
            </a>
        </span>
    </span>
</div>
<div id="categoryElement" style="display:none;">
    <div class="row" id="category-element">
        <div class="col-12">
            <button class="btn btn-link text-dark category">
                <i class="fa fa-arrow-right"></i><span class="category-name">TEST</span>
            </button>
        </div>
    </div>
</div>